@import "../../../../styles/theme/variables";

.smm {
  display: flex;
  list-style-type: none;

  @media (max-width: $small) {
    margin-top: 0.312rem;
  }
}

.smmItem {
  &:not(:last-child) {
    margin-right: 0.625rem;
  }

  @media (max-width: $small) {
    &:not(:last-child) {
      margin-right: 0.437rem;
    }
  }
}

.smmLink {
  position: relative;
  display: block;
  width: 1.375rem;
  opacity: 0.5;
  transition: opacity 500ms ease;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  svg {
    fill: var(--header-footer-white);
  }

  &:hover {
    opacity: 1;
  }

  @media (max-width: $small) {
    width: 0.687rem;
  }
}
